html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, i, ol, ul, li, form, label article,
aside, footer, header,
menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

body {
  background-color: #F5F5F7;
}

main {
  display: inline-flex;
  position: relative;
  margin-top: 10vh;
  padding: 4vh 2vw 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20vw;
  height: 80vh;
}
section > h3 {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 1vw;
  width: calc(100% - 2vw);
  height: 6vh;
  font-size: 1.2rem;
  font-weight: 700;
}
section > h3 > input {
  font-weight: 700;
  font-size: 1.2rem;
  border: none;
  background-color: #F5F5F7;
}
section > h3 > input:focus {
  outline: 0.2vh solid rgb(60, 78, 254);
  box-shadow: 0.2vh 0.2vh 0.2vh 0.2vh rgba(60, 78, 254, 0.5);
}
section > h3 > span.column-length {
  margin-left: 1vw;
  background-color: #BDBDBD;
  padding: 0.25vw 0.5vw;
  border-radius: 50%;
}
section > h3 > .column-btn-area {
  position: absolute;
  right: 1vw;
}
section > h3 > .column-btn-area > i {
  cursor: pointer;
  margin: 0 0.5vw;
}
section > article {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.column-delete-btn:hover {
  color: #FF4D4D;
}

#fab-btn {
  transition: 0.5s;
  position: fixed;
  right: 5%;
  bottom: 5%;
  padding: 0 0.8vw;
  border: none;
  cursor: pointer;
  font-size: 3rem;
  font-weight: 300;
  box-shadow: 0 0.5vh 1vh 0 gray;
  color: #fff;
  border-radius: 50%;
  background-color: #0175DE;
}
#fab-btn:hover {
  box-shadow: 0 0.5vh 1vh 0 #3E95E3;
}

#go-column-add-modal-btn {
  position: fixed;
  transition: 1s;
  right: 5%;
  bottom: 5%;
  padding: 0 0.8vw;
  border: none;
  cursor: pointer;
  font-size: 3rem;
  font-weight: 300;
  box-shadow: 0 0.5vh 1vh 0 gray;
  color: #fff;
  border-radius: 50%;
  background-color: #0175DE;
}
#go-column-add-modal-btn > span {
  font-size: 2rem;
}

#go-search-btn {
  position: fixed;
  right: 5%;
  transition: 1s;
  bottom: 5%;
  padding: 0 0.8vw;
  border: none;
  cursor: pointer;
  font-size: 3rem;
  font-weight: 300;
  box-shadow: 0 0.5vh 1vh 0 gray;
  color: #fff;
  border-radius: 50%;
  background-color: #0175DE;
}
#go-search-btn > span {
  font-size: 2rem;
}

.card-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 85%;
  margin-bottom: 1vh;
  padding: 1.5vh 1vw;
  border-radius: 1vh;
  background-color: white;
}
.card-frame > h3 {
  position: relative;
  font-size: 1.5rem;
  font-weight: 700;
}
.card-frame > h3 > i {
  position: absolute;
  cursor: pointer;
  right: 0.5vw;
  font-size: 1.3rem;
  color: #D0D0D0;
}
.card-frame > h3 > i:hover {
  color: #FF4D4D;
}
.card-frame > h4 {
  font-size: 1.2rem;
  font-weight: 500;
}
.card-frame > h5 {
  font-size: 0.9rem;
  color: #CDCDCD;
}

.new-card-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 85%;
  height: 18vh;
  margin-bottom: 1vh;
  padding: 1.5vh 1vw;
  border-radius: 1vh;
  background-color: white;
}
.new-card-frame input, .new-card-frame textarea {
  border: none;
  outline: none;
}
.new-card-frame > input {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1vh;
}
.new-card-frame > textarea {
  font-size: 1.1rem;
  resize: none;
}

.new-card-button-area {
  display: flex;
  justify-content: space-evenly;
  height: 5vh;
  line-height: 3;
}
.new-card-button-area > button {
  cursor: pointer;
  border: none;
  border-radius: 0.5vh;
  padding: 0.8vh 0;
  font-size: 1rem;
  width: 45%;
}
.new-card-button-area > button :focus {
  outline: none;
}
.new-card-button-area > button#new-card-cancel-btn {
  color: #828282;
  background-color: #e0e0e0;
}
.new-card-button-area > button#new-card-cancel-btn:hover {
  color: #fff;
  background-color: #828282;
}
.new-card-button-area > button#new-card-cancel-btn:disabled {
  color: #828282;
  background-color: #e0e0e0;
}
.new-card-button-area > button#new-card-register-btn {
  color: #fff;
  background-color: #0075de;
}
.new-card-button-area > button#new-card-register-btn:hover {
  color: #fff;
  background-color: #0075de;
}
.new-card-button-area > button#new-card-register-btn:disabled {
  color: rgba(255, 255, 255, 0.4);
  background-color: #86c6ff;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 96vw;
  padding: 0 2vw;
  height: 10vh;
  box-shadow: 0 0 0.3rem 0 gray;
  background-color: #F5F5F7;
  z-index: 3;
}
header > h1 {
  font-size: 3rem;
}
header > i {
  cursor: pointer;
  font-size: 2rem;
}

#menu {
  position: fixed;
  top: 0;
  right: -30vw;
  height: 90vh;
  width: 20vw;
  transition: 1s;
  background-color: #fff;
  padding: 10vh 2vw 0;
  z-index: 4;
}

#menu-frame {
  position: relative;
  padding: 0 1vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edgge */
  scrollbar-width: none; /* Firefox */
  /* Chrome, Safari, Opera */
}
#menu-frame ::-webkit-scrollbar {
  display: none;
}

#menu-header {
  width: 100%;
  height: 3vh;
  position: relative;
  margin-bottom: 0vh;
  padding: 0;
}
#menu-header > i {
  cursor: pointer;
  position: absolute;
  right: 0;
}

#menu-content {
  width: calc(100% - 1vw);
  margin-right: 3vw;
}

/* log-frame */
.log-frame {
  padding: 1vh 1vw;
  display: flex;
  width: 100%;
  height: 12vh;
  background-color: #F0FAE9;
  border-bottom: 1px dotted black;
}
.log-frame :last-child {
  border-bottom: none;
}
.log-frame > .log-emotion-area {
  margin-top: 1vh;
  font-size: 1.5rem;
  width: 12%;
}
.log-frame > .log-content-area {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 88%;
}
.log-frame > .log-content-area > h5 {
  color: #BAC3B4;
}

.log-author {
  font-size: 1rem;
}

.log-content {
  font-size: 1.1rem;
}

#modal-section {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 5;
  height: 100vh;
  width: 100vw;
  background-color: rgba(147, 147, 149, 0.5);
}

#modal-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 2vw;
  opacity: 1;
  height: 16vh;
  width: 20vw;
  border-radius: 1vh;
  background-color: #fff;
}

#modal-header {
  color: #000;
  opacity: 1;
  font-size: 1rem;
  font-weight: 500;
}

#modal-btn-area {
  margin-left: 6vw;
}
#modal-btn-area > button {
  border: none;
  cursor: pointer;
  border-radius: 0.5vh;
  width: 6vw;
  height: 3vh;
}
#modal-btn-area > button#card-cancel-btn {
  color: #B1B1B1;
  background-color: #E0E0E0;
}
#modal-btn-area > button#card-cancel-btn:hover {
  color: #E0E0E0;
  background-color: #B1B1B1;
  outline: 0.2vh solid #B1B1B1;
}
#modal-btn-area > button#card-delete-btn {
  color: #fff;
  background-color: #0175DE;
}
#modal-btn-area > button#card-delete-btn:hover {
  color: #fff;
  background-color: #0175FF;
  outline: 0.2vh solid #0175FF;
}

/* column add modal */
#column-add-modal-section {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 5;
  height: 100vh;
  width: 100vw;
  background-color: rgba(147, 147, 149, 0.5);
}

#column-add-modal-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 2vw;
  opacity: 1;
  height: 16vh;
  width: 20vw;
  border-radius: 1vh;
  background-color: #fff;
}
#column-add-modal-frame > input {
  outline: none;
  border: none;
}

#column-add-modal-btn-area {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#column-add-modal-btn-area > button {
  border: none;
  cursor: pointer;
  border-radius: 0.5vh;
  width: 40%;
  height: 3vh;
}

#column-add-cancel-btn {
  color: #B1B1B1;
  background-color: #E0E0E0;
}
#column-add-cancel-btn:hover {
  color: #E0E0E0;
  background-color: #B1B1B1;
  outline: 0.2vh solid #B1B1B1;
}

#column-add-accept-btn {
  color: #fff;
  background-color: #0175DE;
}
#column-add-accept-btn:hover {
  color: #fff;
  background-color: #0175FF;
  outline: 0.2vh solid #0175FF;
}

#search-modal-section {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 5;
  height: 100vh;
  width: 100vw;
  background-color: rgba(147, 147, 149, 0.5);
}

#search-modal-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 2vw;
  opacity: 1;
  height: 16vh;
  width: 20vw;
  border-radius: 1vh;
  background-color: #fff;
}
#search-modal-frame > input {
  outline: none;
  border: none;
}

#search-modal-btn-area {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#search-modal-btn-area > button {
  border: none;
  cursor: pointer;
  border-radius: 0.5vh;
  width: 40%;
  height: 3vh;
}

#search-cancel-btn {
  color: #B1B1B1;
  background-color: #E0E0E0;
}
#search-cancel-btn:hover {
  color: #E0E0E0;
  background-color: #B1B1B1;
  outline: 0.2vh solid #B1B1B1;
}

#search-accept-btn {
  color: #fff;
  background-color: #0175DE;
}
#search-accept-btn:hover {
  color: #fff;
  background-color: #0175FF;
  outline: 0.2vh solid #0175FF;
}

#go-card-clear-btn {
  position: fixed;
  right: 5%;
  transition: 1s;
  bottom: 5%;
  padding: 0 0.8vw;
  border: none;
  cursor: pointer;
  font-size: 3rem;
  font-weight: 300;
  box-shadow: 0 0.5vh 1vh 0 gray;
  color: #fff;
  border-radius: 50%;
  background-color: #0175DE;
}
#go-card-clear-btn > span {
  font-size: 2rem;
}

#clear-modal-section {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 5;
  height: 100vh;
  width: 100vw;
  background-color: rgba(147, 147, 149, 0.5);
}

#clear-modal-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 2vw;
  opacity: 1;
  height: 16vh;
  width: 20vw;
  border-radius: 1vh;
  background-color: #fff;
}
#clear-modal-frame > input {
  outline: none;
  border: none;
}

#clear-modal-btn-area {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#clear-modal-btn-area > button {
  border: none;
  cursor: pointer;
  border-radius: 0.5vh;
  width: 40%;
  height: 3vh;
}

#clear-cancel-btn {
  color: #B1B1B1;
  background-color: #E0E0E0;
}
#clear-cancel-btn:hover {
  color: #E0E0E0;
  background-color: #B1B1B1;
  outline: 0.2vh solid #B1B1B1;
}

#clear-accept-btn {
  color: #fff;
  background-color: #EE675C;
}
#clear-accept-btn:hover {
  color: #fff;
  background-color: #EE675C;
  outline: 0.2vh solid #EE675C;
}/*# sourceMappingURL=style.css.map */