// reset styling
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, i, ol, ul, li, form, label,
article, aside, footer, header,
menu, nav, section, textarea {
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

article, aside, footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

// body & main
main {
  display: inline-flex;
  margin-top: 10vh;
  padding: 4vh 2vw 0;
  position: relative;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: flex-start;
  width: 20vw;

  > h3 {
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    font-weight: 700;
    height: 6vh;
    padding: 0 1vw;
    position: relative;
    width: calc(100% - 2vw);

    > input {
      background-color: #F5F5F7;
      border: none;
      font-size: 1.2rem;
      font-weight: 700;
    }

    > input:focus {
      box-shadow: 0.2vh 0.2vh 0.2vh 0.2vh rgb(60, 78, 254, 0.5);
      outline: 0.2vh solid rgb(60, 78, 254);
    }

    > span.column-length {
      background-color: #BDBDBD;
      border-radius: 50%;
      margin-left: 1vw;
      padding: 0.3vw 0.7vw;
    }

    > .column-btn-area {
      position: absolute;
      right: 1vw;

      > i {
        cursor: pointer;
        margin: 0 0.5vw;
      }
    }
  }

  > article {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
  }
}

.column-delete-btn:hover {
  color: #FF4D4D;
}

#fab-btn, #go-column-add-modal-btn, #go-search-btn, #go-card-clear-btn {
  border: none;
  border-radius: 50%;
  bottom: 5%;
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
  font-weight: 300;
  padding: 0 0.8vw;
  position: fixed;
  right: 5%;
  transition: 1s;

  > span {
    font-size: 2rem;
  }
}

.card-frame {
  background-color: white;
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 1vh;
  padding: 2vh 1vw;
  width: 85%;

  > h3 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1vh;
    position: relative;

    > i {
      color: #D0D0D0;
      cursor: pointer;
      font-size: 1.3rem;
      position: absolute;
      right: 0.5vw;

      &:hover {
        color: #FF4D4D;
      }
    }
  }

  > h4 {
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 1vh;
  }

  > h5 {
    color: #CDCDCD;
    font-size: 0.6rem;
  }
}

.new-card-frame {
  background-color: white;
  border-radius: 1vh;
  //justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  height: 18vh;
  margin-bottom: 1vh;
  padding: 2vh 1vw;
  width: 85%;

  input, textarea {
    border: none;
    outline: none;
  }

  > input {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1vh;
  }

  > textarea {
    font-size: 0.8rem;
    resize: none;
  }
}

.new-card-button-area {
  display: flex;
  height: 5vh;
  justify-content: space-evenly;
  line-height: 3;

  > button {
    border: none;
    border-radius: 0.5vh;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.8vh 0;
    width: 45%;

    :focus {
      outline: none;
    }
  }

  > button#new-card-cancel-btn {
    background-color: #e0e0e0;
    color: #828282;

    &:hover {
      background-color: #828282;
      color: #fff;
    }

    &:disabled {
      background-color: #e0e0e0;
      color: #828282;
    }
  }

  > button#new-card-register-btn {
    background-color: #0075de;
    color: #fff;

    &:hover {
      background-color: #0075de;
      color: #fff;
    }

    &:disabled {
      background-color: #86c6ff;
      color: rgba(255, 255, 255, 0.4);
    }
  }
}

header {
  align-items: center;
  background-color: #F5F5F7;
  box-shadow: 0 0 0.3rem 0 gray;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding: 0 2vw;
  position: fixed;
  top: 0;
  width: 96vw;
  z-index: 3;

  > h1 {
    font-size: 3rem;
  }

  > i {
    cursor: pointer;
    font-size: 2rem;
  }
}

#menu {
  background-color: #fff;
  height: 90vh;
  padding: 10vh 2vw 0;
  position: fixed;
  right: -30vw;
  top: 0;
  transition: 1s;
  width: 20vw;
  z-index: 4;
}

#menu-frame {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  -ms-overflow-style: none; /* IE and Edge */
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 1vw;
  position: relative;
  scrollbar-width: none; /* Firefox */
  width: 100%;

  /* Chrome, Safari, Opera */
  ::-webkit-scrollbar {
    display: none;
  }
}

#menu-header {
  height: 3vh;
  margin-bottom: 0;
  padding: 0;
  position: relative;
  width: 100%;

  > i {
    cursor: pointer;
    position: absolute;
    right: 0;
  }
}

#menu-content {
  margin-right: 3vw;
  width: calc(100% - 1vw);
}

// log-frame
.log-frame {
  background-color: #F0FAE9;
  border-bottom: 1px dotted black;
  display: flex;
  height: 12vh;
  padding: 1vh 1vw;
  width: 100%;

  &:last-child {
    border-bottom: none;
  }

  > .log-emotion-area {
    font-size: 1.5rem;
    margin-top: 1vh;
    width: 12%;
  }

  > .log-content-area {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 88%;
  }

  > .log-content-area > h5 {
    color: #BAC3B4;
  }
}

.log-author {
  align-items: center;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  width: 90%;

  > i {
    cursor: pointer;
    font-size: 0.7rem;
    margin-right: -1vw;
  }
}

.log-content {
  font-size: 1.1rem;
}

.log-time {
  cursor: pointer;
  text-decoration: underline;
}

// modal
#modal-section, #clear-modal-section, #search-modal-section, #column-add-modal-section {
  align-items: center;
  background-color: rgba(147, 147, 149, 0.5);
  display: none;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 5;
}

#modal-frame {
  background-color: #fff;
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  height: 16vh;
  justify-content: space-evenly;
  opacity: 1;
  padding: 0 2vw;
  width: 20vw;
}

#modal-header {
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  opacity: 1;
}

#modal-btn-area {
  margin-left: 6vw;

  > button {
    border: none;
    border-radius: 0.5vh;
    cursor: pointer;
    height: 3vh;
    width: 6vw;

    &#card-cancel-btn {
      background-color: #E0E0E0;
      color: #B1B1B1;

      &:hover {
        background-color: #B1B1B1;
        color: #E0E0E0;
        outline: 0.2vh solid #B1B1B1;
      }
    }

    &#card-delete-btn {
      background-color: #0175DE;
      color: #fff;

      &:hover {
        background-color: #0175FF;
        color: #fff;
        outline: 0.2vh solid #0175FF;
      }
    }
  }
}

// column add modal
#column-add-modal-frame, #search-modal-frame, #clear-modal-frame {
  background-color: #fff;
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  height: 16vh;
  justify-content: space-evenly;
  opacity: 1;
  padding: 0 2vw;
  width: 20vw;

  > input {
    border: none;
    outline: none;
  }
}

#column-add-modal-btn-area {
  align-items: center;
  display: flex;
  justify-content: space-evenly;

  > button {
    border: none;
    border-radius: 0.5vh;
    cursor: pointer;
    height: 3vh;
    width: 40%;
  }
}

#column-add-cancel-btn {
  background-color: #E0E0E0;
  color: #B1B1B1;

  &:hover {
    background-color: #B1B1B1;
    color: #E0E0E0;
    outline: 0.2vh solid #B1B1B1;
  }
}

#column-add-accept-btn {
  background-color: #0175DE;
  color: #fff;

  &:hover {
    background-color: #0175FF;
    color: #fff;
    outline: 0.2vh solid #0175FF;
  }
}

#search-modal-btn-area {
  align-items: center;
  display: flex;
  justify-content: space-evenly;

  > button {
    border: none;
    border-radius: 0.5vh;
    cursor: pointer;
    height: 3vh;
    width: 40%;
  }
}

#search-cancel-btn {
  background-color: #E0E0E0;
  color: #B1B1B1;

  &:hover {
    background-color: #B1B1B1;
    color: #E0E0E0;
    outline: 0.2vh solid #B1B1B1;
  }
}

#search-accept-btn {
  background-color: #0175DE;
  color: #fff;

  &:hover {
    background-color: #0175FF;
    color: #fff;
    outline: 0.2vh solid #0175FF;
  }
}

#clear-modal-btn-area {
  align-items: center;
  display: flex;
  justify-content: space-evenly;

  > button {
    border: none;
    border-radius: 0.5vh;
    cursor: pointer;
    height: 3vh;
    width: 40%;
  }
}

#clear-cancel-btn {
  background-color: #E0E0E0;
  color: #B1B1B1;

  &:hover {
    background-color: #B1B1B1;
    color: #E0E0E0;
    outline: 0.2vh solid #B1B1B1;
  }
}

#clear-accept-btn {
  background-color: #EE675C;
  color: #fff;

  &:hover {
    background-color: #EE675C;
    color: #fff;
    outline: 0.2vh solid #EE675C;
  }
}

// bulb
#bulb-area {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 5vh;
  justify-content: center;
  width: 2.5vw;

  .bulb {
    font-size: 4vh;
    transition: 0.45s;
  }
}

body {
  background-color: #F5F5F7;
  transition: 0.3s;
}

// dark-mode 
body.dark-mode {
  background-color: #3D3D3D;
  color: #fff;
}

body #go-light-mode {
  color: #BFBFBF;
  display: none;
}

body.dark-mode #go-light-mode {
  display: block;
}

body.dark-mode #go-dark-mode {
  display: none;
}

body.dark-mode header {
  background-color: #3D3D3D;
}

body.dark-mode .card-frame {
  background-color: #1C1C21;
  box-shadow: 0.1vh 0.1vh 0.1vh 0 #efefef;
  color: #B7B7B7;
}

body.dark-mode #menu {
  background-color: #BDBDBD;
}

body.dark-mode #menu {
  background-color: #4D4D4D;
  color: #BFBFBF;
}

body.dark-mode .log-frame {
  background-color: #3D3D3D;
  color: #BDBDBD;
}

body.dark-mode section.column h3 {
  color: #BFBFBF;
}

body.dark-mode span.column-length {
  background-color: #5C5C5C;
  color: #A7A7A7;
}

.fab-buttons {
  background-color: #0175DE;
  box-shadow: 0 0.5vh 1vh 0 gray;

  &:hover {
    box-shadow: 0 0.5vh 1vh 0 #3E95E3;
  }
}

body.dark-mode button.fab-buttons {
  background-color: #5C5C5C;
  box-shadow: 0 0.5vh 1vh 0 #efefef;

  &:hover {
    background-color: #1C1C21;
    transition: 0.2s;
  }
}

body.dark-mode .modal {
  color: #000;
}

#warning-modal {
  align-items: center;
  background-color: #F7E406;
  color: black;
  display: none;
  height: 12vh;
  justify-content: center;
  left: calc(50% - 11vw);
  position: fixed;
  top: 5%;
  transition: 1s;
  width: 22vw;
  z-index: 100;
}

#warning-modal h1 {
  font-size: 2vh;
  font-weight: 700;
}